body.dark {
    background-color: #222;
    color: white;
}

body.dark button {
    background-color: #444;
    color: white;
}

body {
    transition: background-color 0.3s ease, color 0.3 ease;
}

.correct {
    border-left: 4px solid green;
    padding-left: 8px;
}

.incorrect {
    border-left: 4px solid red;
    padding-left: 8px;
}

.correct-answer {
    color: green;
    font-weight: bold;
    margin-top: 5px;
}
